<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.cetc28s.ims">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainActivitys.IMSSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".mainActivitys.IMSLogin"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".mainActivitys.IMSMain"
            android:theme="@style/MISMainActivity"/>
        <activity
            android:name=".outWork.OutInfoDetail"
            android:theme="@style/MISMainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".outWork.OutInfoStatistics"
            android:theme="@style/MISMainActivity"/>
        <activity
            android:name=".leave.LeaveStatistics"
            android:theme="@style/MISMainActivity"/>
        <activity
            android:name=".leave.LeaveInfoDetail"
            android:theme="@style/MISMainActivity"/>
        <activity
            android:name=".worklog.WorkLogDetail"
            android:theme="@style/MISMainActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name=".myInfo.MyInfoActivity"
            android:theme="@style/MISMainActivity"/>

        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true">
        </service>
    </application>

</manifest>